input {
  width: 333px;
}

.caveat {
  color: red;
  font-size: small;
}

.response {
  font-family: "Courier New", monospace;
  color: blue;
  font-size: large;
}

#results {
  font-family: "Courier New", monospace;
  background-image: url(images/News-print1.jpg);
  background-color: #ffffcc;
}
